POSTGRES_DB=amlethmp
POSTGRES_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres

DB_HOST=r2dbc:postgresql://localhost:5432/amlethmp
LIQUIBASE_HOST=jdbc:postgresql://localhost:5432/amlethmp
LIQUIBASE_ENABLE=true

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

JWT_SECRET=change-me-to-a-long-random-secret-at-least-32-bytes

MAIL_ACCOUNT=your-account@gmail.com
MAIL_PASSWORD=your-gmail-app-password
